@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

html,
body,
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #ffb8b8;
}

.container .modal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.container .close {
  display: none;
}

.container .modal .modal__window {
  width: 600px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.container .modal .modal__window .modal__window-intro {
  margin-top: 30px;
  font-size: 50px;
}

.container .modal .modal__window .modal__window-input {
  margin-top: 30px;
}

.container .modal .modal__window .modal__window-input input {
  width: 300px;
  height: 50px;
  font-size: 40px;
  border: none;
  outline: none;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  text-align: center;
}

.container .modal .modal__window .modal__window-input .input__name {
  font-size: 40px;
  height: 60px;
  width: 60px;
  background-color: none;
  border: 1px solid black;
  border-radius: 50px;
  margin-left: 20px;
  cursor: pointer;
}

.container .modal .modal__window .modal__window-input .input__name:focus {
  outline: none;
}

.container .modal .modal__window .modal__window-input .input__name:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.container header {
  display: flex;
  width: 99%;
  height: 8%;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5%;
}

.container header .header__user,
.container header .header__clock,
.container header .header__weather {
  padding: 0 10px;
  width: 450px;
  color: rgba(0, 0, 0, 0.8);
}

.container header .header__user {
  display: flex;
  text-align: center;
  align-items: center;
  width: 450px;
}

.container header .header__user .header__user-greeting {
  padding-right: 10px;
}

.container header .header__clock {
  text-align: center;
}

.container header .header__weather {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  align-items: center;
}

.container header .header__weather .header__weather-icon {
  padding-left: 10px;
}

.container header .header__weather .header__weather-temp {
  font-size: 25px;
}

.container .lists {
  display: flex;
  width: 100%;
  height: 78%;
  justify-content: center;
}

.container .intro {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 50px;
  font-weight: 750;
}

.container .lists .lists__todoList,
.container .lists .lists__finishList {
  background-color: white;
  height: 100%;
  width: 500px;
  margin: 0 2%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
}

.container .lists .lists__todoList .todoList__header,
.container .lists .lists__finishList .finishList__header {
  width: auto;
  display: flex;
  justify-content: start;
  margin: 0 4% 0 4%;
  padding: 3% 0;
  border-bottom: 4px solid rgba(0, 0, 0, 0.5);
}

.container .lists .lists__todoList .todoList__header .lists__todoList-title,
.container
  .lists
  .lists__finishList
  .finishList__header
  .lists__finishList-title {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  justify-self: center;
  align-items: center;
}

.container .lists .lists__todoList .todoList__header .lists__todoList-addBtn,
.container
  .lists
  .lists__finishList
  .finishList__header
  .lists__finishList-deleteBtn {
  all: unset;
  text-align: center;
  margin-left: auto;
  width: 30px;
  justify-self: flex-end;
  font-size: 25px;
  color: rgba(0, 0, 0, 0.5);
}

.container .lists .lists__todoList-lists,
.container .lists .lists__finishList-lists {
  height: 68%;
  overflow-y: auto;
}

.container .lists .lists__todoList .empty__list,
.container .lists .lists__finishList .empty__list {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 20%;
}

.container .lists .lists__todoList .hidden,
.container .lists .lists__finishList .hidden {
  display: none;
}

.container .lists .lists__todoList-lists .lists__todoList-input {
  width: 100%;
  margin: 0 30px 0 0;
  font-size: 25px;
  border: none;
}

.container
  .lists
  .lists__todoList-lists
  .lists__todoList-list
  .lists__todoList-input:focus {
  outline: none;
}

.container .lists .lists__todoList .todoList__header .hidden {
  display: none;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  button {
  text-align: center;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 3px;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  button:focus {
  outline: none;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  button:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.container .lists .lists__todoList .lists__todoList-lists .lists__todoList-list,
.container .lists .lists__finishList-lists .lists__finishList-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  margin: 10px 30px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.3);
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .list_element,
.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .list_element {
  width: 80%;
  height: auto;
  padding: 0 0 5px 0;
  overflow-wrap: break-word;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .buttons
  button,
.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .buttons
  button {
  all: unset;
  font-size: 20px;
  text-align: center;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .buttons
  .btn__done,
.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .buttons
  .btn__delete,
.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .buttons
  .btn__restore,
.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .buttons
  .btn__remove {
  text-align: center;
  width: 25px;
  height: 25px;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .hidden,
.container .lists .lists__finishList-lists .lists__finishList-list .hidden {
  display: none;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .buttons
  .btn__done {
  color: #2ecc71;
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .buttons
  .btn__delete {
  color: #e74c3c;
}

.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .buttons
  .btn__restore,
.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .buttons
  .btn__remove {
  color: rgba(0, 0, 0, 0.7);
}

.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .buttons
  .btn__done:hover,
.container
  .lists
  .lists__todoList
  .lists__todoList-lists
  .lists__todoList-list
  .buttons
  .btn__delete:hover,
.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .buttons
  .btn__restore:hover,
.container
  .lists
  .lists__finishList-lists
  .lists__finishList-list
  .buttons
  .btn__remove:hover,
.container
  .lists
  .lists__todoList
  .todoList__header
  .lists__todoList-addBtn:hover,
.container
  .lists
  .lists__finishList
  .finishList__header
  .lists__finishList-deleteBtn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

@media screen and (max-width: 1000px) {
  .container .lists {
    display: block;
    text-align: center;
  }

  .container .lists .lists__todoList,
  .container .lists .lists__finishList {
    display: inline-block;
    height: 100%;
    width: 500px;
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.8);
  }
}
